<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.GoodsinstanceMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Goodsinstance" >
    <id column="giid" property="giid" jdbcType="INTEGER" />
    <result column="gid" property="gid" jdbcType="INTEGER" />
    <result column="barcode" property="barcode" jdbcType="VARCHAR" />
    <result column="sfdids" property="sfdids" jdbcType="VARCHAR" />
    <result column="gscounts" property="counts" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="BaseResultMapExtends" type="com.accp.domain.Goodsinstance"
  extends="BaseResultMap">
  	<result column="spec" property="spec" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 批量新增 -->
  <insert id="addEach">
    INSERT INTO goodsinstance (`gid`, `sfdids`, `barcode`,`counts`)
VALUES
  <foreach collection="list" item="gs" separator=",">
    (#{gid}, #{gs.sfdids}, #{gs.barcode},#{gs.counts})
  </foreach>
  </insert>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    giid, gid, barcode, sfdids, counts
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.GoodsinstanceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goodsinstance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goodsinstance
    where giid = #{giid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goodsinstance
    where giid = #{giid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.GoodsinstanceExample" >
    delete from goodsinstance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Goodsinstance" >
    insert into goodsinstance (giid, gid, barcode, 
      sfdids, counts)
    values (#{giid,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}, #{barcode,jdbcType=VARCHAR}, 
      #{sfdids,jdbcType=VARCHAR}, #{counts,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Goodsinstance" >
    insert into goodsinstance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="giid != null" >
        giid,
      </if>
      <if test="gid != null" >
        gid,
      </if>
      <if test="barcode != null" >
        barcode,
      </if>
      <if test="sfdids != null" >
        sfdids,
      </if>
      <if test="counts != null" >
        counts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="giid != null" >
        #{giid,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="barcode != null" >
        #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="sfdids != null" >
        #{sfdids,jdbcType=VARCHAR},
      </if>
      <if test="counts != null" >
        #{counts,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.GoodsinstanceExample" resultType="java.lang.Integer" >
    select count(*) from goodsinstance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update goodsinstance
    <set >
      <if test="record.giid != null" >
        giid = #{record.giid,jdbcType=INTEGER},
      </if>
      <if test="record.gid != null" >
        gid = #{record.gid,jdbcType=INTEGER},
      </if>
      <if test="record.barcode != null" >
        barcode = #{record.barcode,jdbcType=VARCHAR},
      </if>
      <if test="record.sfdids != null" >
        sfdids = #{record.sfdids,jdbcType=VARCHAR},
      </if>
      <if test="record.counts != null" >
        counts = #{record.counts,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update goodsinstance
    set giid = #{record.giid,jdbcType=INTEGER},
      gid = #{record.gid,jdbcType=INTEGER},
      barcode = #{record.barcode,jdbcType=VARCHAR},
      sfdids = #{record.sfdids,jdbcType=VARCHAR},
      counts = #{record.counts,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Goodsinstance" >
    update goodsinstance
    <set >
      <if test="gid != null" >
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="barcode != null" >
        barcode = #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="sfdids != null" >
        sfdids = #{sfdids,jdbcType=VARCHAR},
      </if>
      <if test="counts != null" >
        counts = #{counts,jdbcType=INTEGER},
      </if>
    </set>
    where giid = #{giid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Goodsinstance" >
    update goodsinstance
    set gid = #{gid,jdbcType=INTEGER},
      barcode = #{barcode,jdbcType=VARCHAR},
      sfdids = #{sfdids,jdbcType=VARCHAR},
      counts = #{counts,jdbcType=INTEGER}
    where giid = #{giid,jdbcType=INTEGER}
  </update>
</mapper>