<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.JurisdictionMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Jurisdiction" >
    <id column="jsid" property="jsid" jdbcType="INTEGER" />
    <result column="parentid" property="parentid" jdbcType="INTEGER" />
    <result column="jsname" property="jsname" jdbcType="VARCHAR" />
    <result column="catalog" property="catalog" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="enname" property="enname" jdbcType="VARCHAR" />
  </resultMap>
  
   <resultMap type="com.accp.domain.Jurisdiction" 
  	id="BaseResultMapExtends" extends="BaseResultMap">
  		<collection property="jus" column="jsid" select="findJurisdictionByParentId"></collection>
  </resultMap>
  
  <select id="findJurisdictionByParentId" resultMap="BaseResultMapExtends">
  	SELECT * FROM `jurisdiction` WHERE `parentid`=#{parentid}
  </select>
  
  <select id="findJurisdictionByPositionId" 
  	resultMap="BaseResultMapExtends">
	SELECT j.* FROM `jurisdiction` j
	INNER JOIN `jurisdictionset` js ON j.`jsid`=js.`jsid`
	INNER JOIN `position` p ON js.`positionid`=p.`positionid`
	WHERE p.`positionid`=#{positionid}
  </select>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    jsid, parentid, jsname, catalog, path, enname
  </sql>
  
  
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.JurisdictionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from jurisdiction
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jurisdiction
    where jsid = #{jsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jurisdiction
    where jsid = #{jsid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.JurisdictionExample" >
    delete from jurisdiction
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Jurisdiction" >
    insert into jurisdiction (jsid, parentid, jsname, 
      catalog, path, enname
      )
    values (#{jsid,jdbcType=INTEGER}, #{parentid,jdbcType=INTEGER}, #{jsname,jdbcType=VARCHAR}, 
      #{catalog,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR}, #{enname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Jurisdiction" >
    insert into jurisdiction
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jsid != null" >
        jsid,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="jsname != null" >
        jsname,
      </if>
      <if test="catalog != null" >
        catalog,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="enname != null" >
        enname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jsid != null" >
        #{jsid,jdbcType=INTEGER},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="jsname != null" >
        #{jsname,jdbcType=VARCHAR},
      </if>
      <if test="catalog != null" >
        #{catalog,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="enname != null" >
        #{enname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.JurisdictionExample" resultType="java.lang.Integer" >
    select count(*) from jurisdiction
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update jurisdiction
    <set >
      <if test="record.jsid != null" >
        jsid = #{record.jsid,jdbcType=INTEGER},
      </if>
      <if test="record.parentid != null" >
        parentid = #{record.parentid,jdbcType=INTEGER},
      </if>
      <if test="record.jsname != null" >
        jsname = #{record.jsname,jdbcType=VARCHAR},
      </if>
      <if test="record.catalog != null" >
        catalog = #{record.catalog,jdbcType=INTEGER},
      </if>
      <if test="record.path != null" >
        path = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.enname != null" >
        enname = #{record.enname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update jurisdiction
    set jsid = #{record.jsid,jdbcType=INTEGER},
      parentid = #{record.parentid,jdbcType=INTEGER},
      jsname = #{record.jsname,jdbcType=VARCHAR},
      catalog = #{record.catalog,jdbcType=INTEGER},
      path = #{record.path,jdbcType=VARCHAR},
      enname = #{record.enname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Jurisdiction" >
    update jurisdiction
    <set >
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="jsname != null" >
        jsname = #{jsname,jdbcType=VARCHAR},
      </if>
      <if test="catalog != null" >
        catalog = #{catalog,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="enname != null" >
        enname = #{enname,jdbcType=VARCHAR},
      </if>
    </set>
    where jsid = #{jsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Jurisdiction" >
    update jurisdiction
    set parentid = #{parentid,jdbcType=INTEGER},
      jsname = #{jsname,jdbcType=VARCHAR},
      catalog = #{catalog,jdbcType=INTEGER},
      path = #{path,jdbcType=VARCHAR},
      enname = #{enname,jdbcType=VARCHAR}
    where jsid = #{jsid,jdbcType=INTEGER}
  </update>
</mapper>