<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.PurchaseinstanceMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Purchaseinstance" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="barcode" property="barcode" jdbcType="VARCHAR" />
    <result column="artno" property="artno" jdbcType="VARCHAR" />
    <result column="numbers" property="numbers" jdbcType="INTEGER" />
    <result column="cost" property="cost" jdbcType="DOUBLE" />
    <result column="gid" property="gid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="BaseResultMapExtends" type="com.accp.domain.Purchaseinstance"
  extends="BaseResultMap">
  	<result column="gname" property="gname" jdbcType="VARCHAR" />
  	<result column="spec" property="spec" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getPurinsByPid" resultMap="BaseResultMapExtends">
  	SELECT p.`artno`,p.`barcode`,p.`cost`,p.`numbers`,g.`gname`,GROUP_CONCAT(test.sfdname) AS spec
	FROM `goods` AS g INNER JOIN `goodsinstance` AS gs ON g.`gid`=gs.`gid`
	INNER JOIN `purchaseinstance` AS p ON p.`gid`=gs.`giid`,
	(SELECT * FROM `specificationdetails`) AS test
	WHERE FIND_IN_SET(test.sfdid,gs.`sfdids`)
	AND p.`pid`=#{pid}
	GROUP BY p.`gid`,p.`artno`,p.`barcode`,p.`cost`,p.`numbers`
  </select>
  <!-- 批量新增 -->
  <insert id="addEach">
    INSERT INTO purchaseinstance (pid, barcode, 
      artno, numbers, cost, gid)
	VALUES
  	<foreach collection="list" item="pi" separator=",">
    (#{pid}, #{pi.barcode}, #{pi.artno},#{pi.numbers}, #{pi.cost}, #{pi.gid})
  	</foreach>
  </insert>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pid, barcode, artno, numbers, cost, gid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.PurchaseinstanceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from purchaseinstance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from purchaseinstance
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from purchaseinstance
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.PurchaseinstanceExample" >
    delete from purchaseinstance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Purchaseinstance" >
    insert into purchaseinstance (id, pid, barcode, 
      artno, numbers, cost, 
      gid)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=VARCHAR}, #{barcode,jdbcType=VARCHAR}, 
      #{artno,jdbcType=VARCHAR}, #{numbers,jdbcType=INTEGER}, #{cost,jdbcType=DOUBLE}, 
      #{gid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Purchaseinstance" >
    insert into purchaseinstance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="barcode != null" >
        barcode,
      </if>
      <if test="artno != null" >
        artno,
      </if>
      <if test="numbers != null" >
        numbers,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="gid != null" >
        gid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null" >
        #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="artno != null" >
        #{artno,jdbcType=VARCHAR},
      </if>
      <if test="numbers != null" >
        #{numbers,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DOUBLE},
      </if>
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.PurchaseinstanceExample" resultType="java.lang.Integer" >
    select count(*) from purchaseinstance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update purchaseinstance
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=VARCHAR},
      </if>
      <if test="record.barcode != null" >
        barcode = #{record.barcode,jdbcType=VARCHAR},
      </if>
      <if test="record.artno != null" >
        artno = #{record.artno,jdbcType=VARCHAR},
      </if>
      <if test="record.numbers != null" >
        numbers = #{record.numbers,jdbcType=INTEGER},
      </if>
      <if test="record.cost != null" >
        cost = #{record.cost,jdbcType=DOUBLE},
      </if>
      <if test="record.gid != null" >
        gid = #{record.gid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update purchaseinstance
    set id = #{record.id,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=VARCHAR},
      barcode = #{record.barcode,jdbcType=VARCHAR},
      artno = #{record.artno,jdbcType=VARCHAR},
      numbers = #{record.numbers,jdbcType=INTEGER},
      cost = #{record.cost,jdbcType=DOUBLE},
      gid = #{record.gid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Purchaseinstance" >
    update purchaseinstance
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null" >
        barcode = #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="artno != null" >
        artno = #{artno,jdbcType=VARCHAR},
      </if>
      <if test="numbers != null" >
        numbers = #{numbers,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DOUBLE},
      </if>
      <if test="gid != null" >
        gid = #{gid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Purchaseinstance" >
    update purchaseinstance
    set pid = #{pid,jdbcType=VARCHAR},
      barcode = #{barcode,jdbcType=VARCHAR},
      artno = #{artno,jdbcType=VARCHAR},
      numbers = #{numbers,jdbcType=INTEGER},
      cost = #{cost,jdbcType=DOUBLE},
      gid = #{gid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>