<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.RecordMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Record" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tradedate" property="tradedate" jdbcType="DATE" />
    <result column="vipid" property="vipid" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="payment" property="payment" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tradedate, vipid, money, payment, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.RecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.RecordExample" >
    delete from record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Record" >
    insert into record (id, tradedate, vipid, 
      money, payment, remark
      )
    values (#{id,jdbcType=INTEGER}, #{tradedate,jdbcType=DATE}, #{vipid,jdbcType=INTEGER}, 
      #{money,jdbcType=DOUBLE}, #{payment,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Record" keyProperty="id" useGeneratedKeys="true" >
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tradedate != null" >
        tradedate,
      </if>
      <if test="vipid != null" >
        vipid,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="payment != null" >
        payment,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tradedate != null" >
        #{tradedate,jdbcType=DATE},
      </if>
      <if test="vipid != null" >
        #{vipid,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.RecordExample" resultType="java.lang.Integer" >
    select count(*) from record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tradedate != null" >
        tradedate = #{record.tradedate,jdbcType=DATE},
      </if>
      <if test="record.vipid != null" >
        vipid = #{record.vipid,jdbcType=INTEGER},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=DOUBLE},
      </if>
      <if test="record.payment != null" >
        payment = #{record.payment,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update record
    set id = #{record.id,jdbcType=INTEGER},
      tradedate = #{record.tradedate,jdbcType=DATE},
      vipid = #{record.vipid,jdbcType=INTEGER},
      money = #{record.money,jdbcType=DOUBLE},
      payment = #{record.payment,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Record" >
    update record
    <set >
      <if test="tradedate != null" >
        tradedate = #{tradedate,jdbcType=DATE},
      </if>
      <if test="vipid != null" >
        vipid = #{vipid,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="payment != null" >
        payment = #{payment,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Record" >
    update record
    set tradedate = #{tradedate,jdbcType=DATE},
      vipid = #{vipid,jdbcType=INTEGER},
      money = #{money,jdbcType=DOUBLE},
      payment = #{payment,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
 <!--  按订单 -->
  <select id="selectAllRecord" parameterType="com.accp.domain.Record" resultType="com.accp.domain.Record">
  select * from
(select * from (select DISTINCT(r.id)  ,v.`name` ,v.phone ,r.tradedate   ,r.payment   ,r.money   from record r 
left join vip v on r.vipid = v.id <where>
	<if test="tradedate != null and tradedate2 != null"> r.tradedate between #{tradedate,jdbcType=DATE} and  #{tradedate2,jdbcType=DATE}</if>
	
	</where>) A )B
join
(select * from (select DISTINCT(rs.rid), COUNT(rs.numbers)  numbers    from recordinstance rs GROUP BY rs.rid  )C)D
on B.id = D.rid <where>
	<if test="name != null"> B.`name` like  CONCAT('%',#{name,jdbcType=VARCHAR},'%') </if>
	</where>
   </select>
   
<!-- 按商品 -->
   <select id="selectAllRecordByP" parameterType="com.accp.domain.Record" resultType="com.accp.domain.Record">
   select * from
(select * from (select r.id ,v.`name` ,v.phone ,r.tradedate   ,r.payment    from record r 
left join vip v on r.vipid = v.id <where>
	<if test="tradedate != null and tradedate2 != null"> r.tradedate between #{tradedate,jdbcType=DATE} and  #{tradedate2,jdbcType=DATE}</if>
	
	</where>) A )B
join
(
select * from (select * from (select rs.numbers ,rs.rid,rs.gid rsgid ,(numbers*rs.price)  money   from recordinstance rs )C join
goods g on C.rsgid=g.gid ) Z
)X
on B.id=X.rid <where>
	<if test="name != null"> B.`name` like  CONCAT('%',#{name,jdbcType=VARCHAR},'%') </if>
	</where>
   </select>

<!-- 根据主键查询商品详表的信息 -->
	<select id="selctGoodsinstsByID" resultType="com.accp.domain.Goodsinstance">
	select * from Goodsinstance where giid =#{0}
	</select>
</mapper>